In [2]:
from pyspark.sql import SparkSession

# Create a Spark session
spark = SparkSession.builder.appName("HumidAnalysis").getOrCreate()

#Load Preprocessed Data

df = spark.read.format('csv').options(header='true', inferSchema='true').load('s3://brazil-climate-analysis/preprocess_final/')

df.show()
df.printSchema()

+-------------------+------------+-----+----+-------------+--------------------+------------------------+------------------------+------------------+-----------+-------------+--------+--------+------------------+-----------------+------------+------------+--------+--------------+----------+------+-----------------+--------+------------+------+
|               date|station_code| time|  id|precipitation|atmospheric_pressure|max_atmospheric_pressure|min_atmospheric_pressure|         radiation|temperature|dewpoint_temp|max_temp|min_temp|max_dewpoint_temp_|min_dewpoint_temp|max_humidity|min_humidity|humidity|wind_direction|wind_speed|region|          station|latitude|   longitude|height|
+-------------------+------------+-----+----+-------------+--------------------+------------------------+------------------------+------------------+-----------+-------------+--------+--------+------------------+-----------------+------------+------------+--------+--------------+----------+------+-----------------+--------+------------+------+
|2001-04-08 00:00:00|        A601|00:00|5304|          0.0|              1015.5|                  1015.5|                  1015.1|1200.8333333333333|       24.4|         23.2|    24.9|    24.2|              23.2|             23.0|        93.0|        90.0|    93.0|         226.0|       0.3|    SE|ECOLOGIA AGRICOLA|   -22.8|-43.68333333|  33.0|
|2001-04-08 00:00:00|        A601|01:00|5305|          0.0|              1015.5|                  1015.7|                  1015.4|1200.8333333333333|       24.4|         23.1|    24.7|    24.4|              23.5|             23.1|        93.0|        93.0|    93.0|         229.0|       0.0|    SE|ECOLOGIA AGRICOLA|   -22.8|-43.68333333|  33.0|
|2001-04-08 00:00:00|        A601|02:00|5306|          0.0|              1015.4|                  1015.5|                  1015.3|1200.8333333333333|       23.5|         22.6|    24.4|    23.5|              23.2|             22.5|        95.0|        93.0|    95.0|         101.0|       0.0|    SE|ECOLOGIA AGRICOLA|   -22.8|-43.68333333|  33.0|
|2001-04-08 00:00:00|        A601|03:00|5307|          0.0|              1015.3|                  1015.4|                  1015.2|1200.8333333333333|       23.3|         22.5|    23.5|    23.2|              22.6|             22.2|        95.0|        94.0|    95.0|          16.0|       0.0|    SE|ECOLOGIA AGRICOLA|   -22.8|-43.68333333|  33.0|
|2001-04-08 00:00:00|        A601|04:00|5308|          0.0|              1014.4|                  1015.3|                  1014.4|1200.8333333333333|       23.6|         22.7|    23.7|    23.4|              22.9|             22.6|        95.0|        95.0|    95.0|         286.0|       0.7|    SE|ECOLOGIA AGRICOLA|   -22.8|-43.68333333|  33.0|
|2001-04-08 00:00:00|        A601|05:00|5309|          0.0|              1013.8|                  1014.5|                  1013.8|1200.8333333333333|       23.7|         22.6|    23.7|    23.6|              22.9|             22.6|        95.0|        94.0|    94.0|         251.0|       0.4|    SE|ECOLOGIA AGRICOLA|   -22.8|-43.68333333|  33.0|
|2001-04-08 00:00:00|        A601|06:00|5310|          0.0|              1013.2|                  1013.8|                  1013.2|1200.8333333333333|       23.8|         22.3|    23.9|    23.7|              22.6|             22.3|        94.0|        91.0|    92.0|         244.0|       0.0|    SE|ECOLOGIA AGRICOLA|   -22.8|-43.68333333|  33.0|
|2001-04-08 00:00:00|        A601|07:00|5311|          0.0|              1012.7|                  1013.2|                  1012.7|1200.8333333333333|       23.1|         22.0|    23.8|    23.1|              22.4|             22.0|        94.0|        92.0|    94.0|         308.0|       0.0|    SE|ECOLOGIA AGRICOLA|   -22.8|-43.68333333|  33.0|
|2001-04-08 00:00:00|        A601|08:00|5312|          0.0|              1012.7|                  1012.8|                  1012.6|1200.8333333333333|       23.3|         22.3|    23.3|    23.1|              22.3|             22.0|        94.0|        93.0|    94.0|           7.0|       0.7|    SE|ECOLOGIA AGRICOLA|   -22.8|-43.68333333|  33.0|
|2001-04-08 00:00:00|        A601|09:00|5313|          0.0|              1013.0|                  1013.0|                  1012.6|1200.8333333333333|       23.3|         22.2|    23.4|    23.2|              22.4|             22.2|        94.0|        93.0|    93.0|           4.0|       1.3|    SE|ECOLOGIA AGRICOLA|   -22.8|-43.68333333|  33.0|
|2001-04-08 00:00:00|        A601|10:00|5314|          0.0|              1013.5|                  1013.5|                  1013.0|             145.0|       23.8|         22.2|    23.8|    23.2|              22.3|             21.9|        93.0|        91.0|    91.0|          64.0|       0.0|    SE|ECOLOGIA AGRICOLA|   -22.8|-43.68333333|  33.0|
|2001-04-08 00:00:00|        A601|11:00|5315|          0.0|              1014.0|                  1014.0|                  1013.5|             764.0|       25.7|         21.6|    26.0|    23.8|              22.7|             21.6|        91.0|        78.0|    78.0|         357.0|       1.4|    SE|ECOLOGIA AGRICOLA|   -22.8|-43.68333333|  33.0|
|2001-04-08 00:00:00|        A601|12:00|5316|          0.0|              1014.4|                  1014.5|                  1014.0|            1390.0|       28.4|         22.0|    28.4|    25.7|              22.3|             21.4|        80.0|        69.0|    69.0|         272.0|       0.9|    SE|ECOLOGIA AGRICOLA|   -22.8|-43.68333333|  33.0|
|2001-04-08 00:00:00|        A601|13:00|5317|          0.0|              1014.3|                  1014.6|                  1014.3|            2352.0|       29.1|         21.9|    29.6|    28.1|              23.4|             21.6|        71.0|        65.0|    65.0|         173.0|       1.7|    SE|ECOLOGIA AGRICOLA|   -22.8|-43.68333333|  33.0|
|2001-04-08 00:00:00|        A601|14:00|5318|          0.0|              1014.0|                  1014.3|                  1014.0|            1849.0|       28.8|         22.5|    29.2|    28.1|              23.6|             22.2|        75.0|        67.0|    69.0|         176.0|       3.1|    SE|ECOLOGIA AGRICOLA|   -22.8|-43.68333333|  33.0|
|2001-04-08 00:00:00|        A601|15:00|5319|          0.0|              1013.3|                  1013.9|                  1013.3|            2048.0|       27.4|         22.2|    29.1|    27.4|              22.9|             20.7|        73.0|        63.0|    73.0|         194.0|       4.8|    SE|ECOLOGIA AGRICOLA|   -22.8|-43.68333333|  33.0|
|2001-04-08 00:00:00|        A601|16:00|5320|          0.0|              1012.6|                  1013.3|                  1012.6|            1527.0|       26.6|         21.8|    27.9|    26.6|              23.1|             21.4|        77.0|        73.0|    75.0|         202.0|       3.8|    SE|ECOLOGIA AGRICOLA|   -22.8|-43.68333333|  33.0|
|2001-04-08 00:00:00|        A601|17:00|5321|          0.0|              1012.0|                  1012.6|                  1011.9|            2086.0|       28.3|         21.4|    28.6|    26.6|              22.7|             21.4|        76.0|        66.0|    66.0|         187.0|       4.0|    SE|ECOLOGIA AGRICOLA|   -22.8|-43.68333333|  33.0|
|2001-04-08 00:00:00|        A601|18:00|5322|          0.0|              1011.4|                  1012.0|                  1011.4|            1554.0|       28.0|         21.9|    28.3|    27.7|              22.5|             21.4|        72.0|        66.0|    69.0|         199.0|       3.7|    SE|ECOLOGIA AGRICOLA|   -22.8|-43.68333333|  33.0|
|2001-04-08 00:00:00|        A601|19:00|5323|          0.0|              1011.6|                  1011.7|                  1011.3|             582.0|       25.3|         22.3|    27.9|    25.3|              22.5|             21.8|        84.0|        69.0|    84.0|         359.0|       1.1|    SE|ECOLOGIA AGRICOLA|   -22.8|-43.68333333|  33.0|
+-------------------+------------+-----+----+-------------+--------------------+------------------------+------------------------+------------------+-----------+-------------+--------+--------+------------------+-----------------+------------+------------+--------+--------------+----------+------+-----------------+--------+------------+------+
only showing top 20 rows

root
 |-- date: timestamp (nullable = true)
 |-- station_code: string (nullable = true)
 |-- time: string (nullable = true)
 |-- id: integer (nullable = true)
 |-- precipitation: double (nullable = true)
 |-- atmospheric_pressure: double (nullable = true)
 |-- max_atmospheric_pressure: double (nullable = true)
 |-- min_atmospheric_pressure: double (nullable = true)
 |-- radiation: double (nullable = true)
 |-- temperature: double (nullable = true)
 |-- dewpoint_temp: double (nullable = true)
 |-- max_temp: double (nullable = true)
 |-- min_temp: double (nullable = true)
 |-- max_dewpoint_temp_: double (nullable = true)
 |-- min_dewpoint_temp: double (nullable = true)
 |-- max_humidity: double (nullable = true)
 |-- min_humidity: double (nullable = true)
 |-- humidity: double (nullable = true)
 |-- wind_direction: double (nullable = true)
 |-- wind_speed: double (nullable = true)
 |-- region: string (nullable = true)
 |-- station: string (nullable = true)
 |-- latitude: double (nullable = true)
 |-- longitude: double (nullable = true)
 |-- height: double (nullable = true)

In [4]:
from pyspark.sql.functions import *

# Select only neccessy columns

df_humid_analysis = df.select(to_date("date","yyyy-MM-dd").alias("date"),df["time"],df["station_code"],df["humidity"],
                    df["temperature"],df["precipitation"].alias("amount of precipitation"))

df_humid_analysis.show(20)

+----------+-----+------------+--------+-----------+-----------------------+
|      date| time|station_code|humidity|temperature|amount of precipitation|
+----------+-----+------------+--------+-----------+-----------------------+
|2001-04-08|00:00|        A601|    93.0|       24.4|                    0.0|
|2001-04-08|01:00|        A601|    93.0|       24.4|                    0.0|
|2001-04-08|02:00|        A601|    95.0|       23.5|                    0.0|
|2001-04-08|03:00|        A601|    95.0|       23.3|                    0.0|
|2001-04-08|04:00|        A601|    95.0|       23.6|                    0.0|
|2001-04-08|05:00|        A601|    94.0|       23.7|                    0.0|
|2001-04-08|06:00|        A601|    92.0|       23.8|                    0.0|
|2001-04-08|07:00|        A601|    94.0|       23.1|                    0.0|
|2001-04-08|08:00|        A601|    94.0|       23.3|                    0.0|
|2001-04-08|09:00|        A601|    93.0|       23.3|                    0.0|
|2001-04-08|10:00|        A601|    91.0|       23.8|                    0.0|
|2001-04-08|11:00|        A601|    78.0|       25.7|                    0.0|
|2001-04-08|12:00|        A601|    69.0|       28.4|                    0.0|
|2001-04-08|13:00|        A601|    65.0|       29.1|                    0.0|
|2001-04-08|14:00|        A601|    69.0|       28.8|                    0.0|
|2001-04-08|15:00|        A601|    73.0|       27.4|                    0.0|
|2001-04-08|16:00|        A601|    75.0|       26.6|                    0.0|
|2001-04-08|17:00|        A601|    66.0|       28.3|                    0.0|
|2001-04-08|18:00|        A601|    69.0|       28.0|                    0.0|
|2001-04-08|19:00|        A601|    84.0|       25.3|                    0.0|
+----------+-----+------------+--------+-----------+-----------------------+
only showing top 20 rows

In [7]:
#Group the data by Date then mean the humidity percentage, temperature, and precipitation

daily_humid_analysis = df_humid_analysis.groupBy("Date").agg(
    round(mean("humidity"), 2).alias("average daily humidity"),
    round(mean("temperature"), 2).alias("average daily temperature"),
    round(sum("amount of precipitation"), 2).alias("daily precipitation"))

#Sort the result

daily_humid_analysis_sorted = daily_humid_analysis.orderBy("Date")

daily_humid_analysis_sorted.show(10)

+----------+----------------------+-------------------------+-------------------+
|      Date|average daily humidity|average daily temperature|daily precipitation|
+----------+----------------------+-------------------------+-------------------+
|2000-05-07|                 74.25|                    22.23|                0.0|
|2000-05-08|                 79.08|                    22.15|                0.0|
|2000-05-09|                 84.61|                    21.88|                1.2|
|2000-05-10|                 73.67|                    20.73|                0.0|
|2000-05-11|                 79.64|                    20.56|               12.4|
|2000-05-12|                 80.58|                    20.12|                1.2|
|2000-05-13|                 75.21|                    20.25|                0.0|
|2000-05-14|                 76.13|                    20.68|                0.0|
|2000-05-15|                 79.33|                    20.91|                0.0|
|2000-05-24|                  83.0|                    18.93|                0.0|
+----------+----------------------+-------------------------+-------------------+
only showing top 10 rows

In [10]:
# Group by Date, and calculate the minimum humidity

min_daily_humidity = df.select(to_date("Date","yyyy-MM-dd").alias("Date"),df["Time"],df["station_code"],
          df["min_humidity"].alias("minimum humidity"))

min_daily_humidity = min_daily_humidity.groupBy("Date").agg(min("minimum humidity").alias("minimum daily humidity"))

# Sort the result by Date
min_daily_humidity_sorted = min_daily_humidity.sort("Date")

# Show the sorted result
min_daily_humidity_sorted.show(25)

+----------+----------------------+
|      Date|minimum daily humidity|
+----------+----------------------+
|2000-05-07|                  67.0|
|2000-05-08|                  58.0|
|2000-05-09|                  68.0|
|2000-05-10|                  41.0|
|2000-05-11|                  49.0|
|2000-05-12|                  42.0|
|2000-05-13|                  44.0|
|2000-05-14|                  40.0|
|2000-05-15|                  40.0|
|2000-05-24|                  65.0|
|2000-05-25|                  34.0|
|2000-05-29|                  47.0|
|2000-05-30|                  44.0|
|2000-05-31|                  34.0|
|2000-06-01|                  67.0|
|2000-06-02|                  63.0|
|2000-06-03|                  58.0|
|2000-06-04|                  43.0|
|2000-06-05|                  39.0|
|2000-06-06|                  36.0|
|2000-06-07|                  38.0|
|2000-06-08|                  30.0|
|2000-06-09|                  33.0|
|2000-06-10|                  53.0|
|2000-06-11|                  37.0|
+----------+----------------------+
only showing top 25 rows

In [11]:
# Group by Date, and calculate the maximum humidity

max_daily_humidity = df.select(to_date("Date","yyyy-MM-dd").alias("Date"),df["Time"],df["station_code"],
          df["max_humidity"].alias("maximum humidity"))

max_daily_humidity = max_daily_humidity.groupBy("Date").agg(max("maximum humidity").alias("maximum daily humidity"))

# Sort the result by Date
max_daily_humidity_sorted = max_daily_humidity.sort("Date")

# Show the sorted result
max_daily_humidity_sorted.show(25)

+----------+----------------------+
|      Date|maximum daily humidity|
+----------+----------------------+
|2000-05-07|                  87.0|
|2000-05-08|                  93.0|
|2000-05-09|                  97.0|
|2000-05-10|                  97.0|
|2000-05-11|                  96.0|
|2000-05-12|                  98.0|
|2000-05-13|                  96.0|
|2000-05-14|                  97.0|
|2000-05-15|                  98.0|
|2000-05-24|                  88.0|
|2000-05-25|                  97.0|
|2000-05-29|                  89.0|
|2000-05-30|                  96.0|
|2000-05-31|                  98.0|
|2000-06-01|                  96.0|
|2000-06-02|                  95.0|
|2000-06-03|                  97.0|
|2000-06-04|                  95.0|
|2000-06-05|                  97.0|
|2000-06-06|                  96.0|
|2000-06-07|                  78.0|
|2000-06-08|                  80.0|
|2000-06-09|                  88.0|
|2000-06-10|                  97.0|
|2000-06-11|                  98.0|
+----------+----------------------+
only showing top 25 rows

In [14]:
minmax_humidity = max_daily_humidity_sorted.join(min_daily_humidity_sorted, on="Date")
minmax_humidity = minmax_humidity.sort("Date")
minmax_humidity.show(25)

+----------+----------------------+----------------------+
|      Date|maximum daily humidity|minimum daily humidity|
+----------+----------------------+----------------------+
|2000-05-07|                  87.0|                  67.0|
|2000-05-08|                  93.0|                  58.0|
|2000-05-09|                  97.0|                  68.0|
|2000-05-10|                  97.0|                  41.0|
|2000-05-11|                  96.0|                  49.0|
|2000-05-12|                  98.0|                  42.0|
|2000-05-13|                  96.0|                  44.0|
|2000-05-14|                  97.0|                  40.0|
|2000-05-15|                  98.0|                  40.0|
|2000-05-24|                  88.0|                  65.0|
|2000-05-25|                  97.0|                  34.0|
|2000-05-29|                  89.0|                  47.0|
|2000-05-30|                  96.0|                  44.0|
|2000-05-31|                  98.0|                  34.0|
|2000-06-01|                  96.0|                  67.0|
|2000-06-02|                  95.0|                  63.0|
|2000-06-03|                  97.0|                  58.0|
|2000-06-04|                  95.0|                  43.0|
|2000-06-05|                  97.0|                  39.0|
|2000-06-06|                  96.0|                  36.0|
|2000-06-07|                  78.0|                  38.0|
|2000-06-08|                  80.0|                  30.0|
|2000-06-09|                  88.0|                  33.0|
|2000-06-10|                  97.0|                  53.0|
|2000-06-11|                  98.0|                  37.0|
+----------+----------------------+----------------------+
only showing top 25 rows

In [15]:
spark.sql("CREATE DATABASE humidity_db LOCATION 's3://brazil-climate-analysis/humidity_db'").show()

++
||
++
++

In [16]:
daily_humid_analysis_sorted.createOrReplaceTempView('daily_humidity_analysis')
minmax_humidity.createOrReplaceTempView('minmax_humidity_analysis')


spark.sql("use humidity_db")
spark.sql("create table minmax_humidity_tb as select * from minmax_humidity_analysis")
spark.sql("create table daily_humid_tb as select * from daily_humidity_analysis")

DataFrame[]